<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>com.pacage.controller.BookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBook</servlet-name>
        <servlet-class>com.pacage.controller.SearchBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllBooks</servlet-name>
        <servlet-class>com.pacage.controller.GetAllBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMain</servlet-name>
        <servlet-class>com.pacage.controller.SearchMain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSub</servlet-name>
        <servlet-class>com.pacage.controller.SearchSub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMain</servlet-name>
        <servlet-class>com.pacage.controller.AddMain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSub</servlet-name>
        <servlet-class>com.pacage.controller.AddSub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBook</servlet-name>
        <servlet-class>com.pacage.controller.DeleteBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeSub</servlet-name>
        <servlet-class>com.pacage.controller.ChangeSub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>com.pacage.controller.Edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUpdate</servlet-name>
        <servlet-class>com.pacage.controller.GetUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMain</servlet-name>
        <servlet-class>com.pacage.controller.DeleteMain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillMain</servlet-name>
        <servlet-class>com.pacage.controller.FillMain</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/BookServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>AddBook.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>SearchBook</servlet-name>
        <url-pattern>/SearchBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllBooks</servlet-name>
        <url-pattern>/GetAllBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMain</servlet-name>
        <url-pattern>/SearchMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSub</servlet-name>
        <url-pattern>/SearchSub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMain</servlet-name>
        <url-pattern>/AddMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSub</servlet-name>
        <url-pattern>/AddSub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBook</servlet-name>
        <url-pattern>/DeleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeSub</servlet-name>
        <url-pattern>/ChangeSub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/Edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUpdate</servlet-name>
        <url-pattern>/GetUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMain</servlet-name>
        <url-pattern>/DeleteMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillMain</servlet-name>
        <url-pattern>/FillMain</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
